go get -v && go build -o gohermes
export MYSQL_USERNAME="your username"
export MYSQL_PASSWORD="your password"
export MYSQL_NAME="gohermes"
export INFLUX_USER="your username"
export INFLUX_PWD="your password"
./gohermes
rm ./gohermes
